@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

button, input, p{
    transition: .5s ease-in-out;
}

#pending{
    background-color: rgba(112, 234, 99, 0.2);
}

#completed{
    background-color: rgba(255, 223, 223, 0.8);
}

#in_progress{
    background-color: rgba(162, 162, 255, 0.2);
}
